/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: var(--white);
    background-color: var(--black);
    display: flex;
    flex-direction: column;
}

/* content area */
.content-area {
    padding: 4rem 12rem;
}

/* General header & footer styles */
.site-chrome {
    width: calc(100% - 4rem);
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* header & footer */
header {
    top: 0;
    left: 0;
    right: 0;
    position: relative;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    margin-top: auto;
}

/* Navigation styling */
ul {
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    padding: 0.5rem;
    display: block;
    border-radius: var(--border-radius-s);
    transition: background-color 0.3s ease;
}

ul li a:hover {
    background-color: var(--darkgray);
    border-radius: var(--border-radius-s);
}

.left-footer {
    padding: 0.5rem;
    font-size: 0.8rem;
    color: var(--gray);
}
